<header>
  <div class="container">
    <app-button
        type="primary"
        color="#fe5960"
        [buttonText]="'Logo'"
        size="medium"
        padding="10px 35px 10px 35px"
        [borderRadius]="'0px'"
        [fontStyle]="'bold'"
      ></app-button>
    <a href="#">
      <app-button
        type="primary"
        color="#42263d"
        [buttonText]="'Request for Demo'"
        size="medium"
        padding="10px 10px"
        [borderRadius]="'25px'"
        [fontStyle]="'bold'"
      ></app-button>
    </a>
  </div>

  <div>
    <ul class="nav-links right">
      <li><a href="#">
        <a href="#">
          <app-button
            type="primary"
            color="#42263d"
            [buttonText]="'Login'"
            size="medium"
            padding="10px  20px 10px 20px"
            [borderRadius]="'25px'"
            [fontStyle]="'bold'"
          ></app-button>
        </a>
      </a></li>
      <li><a href="#">
        <a href="#">
          <app-button
            type="primary"
            color="#fe5960"
            [buttonText]="'Get Started'"
            size="medium"
            padding="10px 10px"
            [borderRadius]="'25px'"
            [fontStyle]="'bold'"
          ></app-button>
        </a>
      </a></li>
    </ul>
  </div>
</header>
