<div class="container">
  <div class="left-side-hero">
    <p>
      Promote Your Business. <br />
      <br />
      <span>Everywhere</span>
    </p>

    <app-button
      type="primary"
      color="#fe5960"
      [buttonText]="'Get Started'"
      size="medium"
      padding="14px 20px 14px 20px"
      [borderRadius]="'25px'"
      [fontStyle]="'bold'"
    ></app-button>

    <a href="">How it Works </a>
    <div class="features">
      <div class="feature-item">
        <mat-icon>check</mat-icon>
        All channels
      </div>
      <div class="feature-item">
        <mat-icon>check</mat-icon>
        Local currency
      </div>
      <div class="feature-item">
        <mat-icon>check</mat-icon>
        Unlimited Ad Spend
      </div>
    </div>
  </div>
  <div class="right-side">
    <img src="../../assets/Group.png" alt="" />
  </div>
</div>

<!-- Second section -->
<div class="container2">
  <div class="left-side2"></div>
  <div class="right-side2">
    <h5>
      Largest Media Partners, for a Large <br />
      <br />
      Volume
    </h5>
    <p>
      AdClick provides a single platform for advertisers to easily launch
      campaigns from any place in the world across all channels.
    </p>
    <app-button
      type="primary"
      color="#fe5960"
      [buttonText]="'Try for free'"
      size="small"
      padding="10px 20px 10px 20px"
      [borderRadius]="'25px'"
    ></app-button>
  </div>
</div>

<!-- section Third  -->
<div class="container3">
  <div class="left-side3">
    <h5>How It Works</h5>
    <p>
      Handling marketing on the biggest media platforms is not an easy task,
      especially for E-commerce brand owners, startups, and agencies in emerging
      countries.
    </p>

    <app-button
      type="primary"
      color="#fe5960"
      [buttonText]="'Get started'"
      size="medium"
      padding="10px 20px 10px 20px"
      [borderRadius]="'25px'"
    ></app-button>
    <img src="../../assets/4.png" alt="Image" />
    <div class="features3">
      <h4 class="feature-item3">Without <span>Logo</span></h4>
      <div class="feature-item3">
        <mat-icon>clear</mat-icon>
        New updates evry day.
      </div>
      <div class="feature-item3">
        <mat-icon>timer</mat-icon>
        limited access for some countries
      </div>
      <div class="feature-item3">
        <mat-icon>credit_card</mat-icon>
        limites payment methods and currencies.
      </div>
      <div class="feature-item3">
        <mat-icon>thumb_down</mat-icon>
        lack of support and communication.
      </div>
      <a href="" class="link">Not anymore with AdClick.</a>
    </div>
  </div>
  <div class="right-side3">
    <!-- Add spacing between duplicated content -->
    <div class="payment-group">
      <div class="payment-container">
        <h5>Payment</h5>
        <mat-icon>credit_card</mat-icon>
        <p>
          Pay your advertising on your preferred channel in your local currency
          with your preferred payment method 'Cash', Check, Wire, etc., no
          matter where you are.
        </p>
      </div>
      <div class="payment-container">
        <h5>Channels</h5>
        <mat-icon>file_copy</mat-icon>
        <p>
          Discover exclusive benefits for our loyal customers. Enjoy discounts,
          special offers, and personalized rewards as a part of our loyalty
          program.
        </p>
      </div>
      <div class="payment-container">
        <h5>Support</h5>
        <mat-icon class="payment-icon">thumb_up</mat-icon>
        <p>
          Our dedicated support team is available 24/7 to assist you with any
          inquiries, technical issues, or concerns. Reach out to us via phone,
          email, or live chat.
        </p>
      </div>
    </div>
  </div>
</div>

<!--section  five-->
<div class="centered-container">
  <div id="image-container" style="z-index: 1">
    <div id="image">
      <img src="../../assets/18.jpg" alt="Image 1" />
    </div>
    <div id="image">
      <img src="../../assets/19.jpg" alt="Image 2" />
    </div>
    <div id="image">
      <img src="../../assets/16.jpg" alt="Image 3" />
    </div>
    <div id="image">
      <img src="../../assets/14.jpg" alt="Image 4" />
    </div>
    <div id="image">
      <img src="../../assets/17.jpg" alt="Image 5" />
    </div>
  </div>

  <img src="../../assets/10.png" alt="Image" />
  <h3>The easiest ay to launch online campaigns</h3>
  <p>
    A dedicated platform helping you to achieve your marketing goals and
    maximise your ROAS <br />from your campaigns a cross all channels
  </p>
  <app-button
    type="primary"
    color="#fe5960"
    [buttonText]="'Create Campaign'"
    size="medium"
    padding="10px 20px 10px 20px"
    [borderRadius]="'25px'"
  ></app-button>

  <div class="main-container">
    <!-- Left side with h5, paragraph, and button -->
    <div class="left-side">
      <h5>
        Stability + Growth =
        <span style="color: white; background-color: #fe5960; padding: 15px"
          >Logo</span
        >
      </h5>
      <p style="padding: 20px 0 20px 0">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
        nam, labore eveniet eum minus non!
      </p>
      <app-button
        type="primary"
        color="#fe5960"
        [buttonText]="'Try For Free'"
        size="small"
        padding="10px 20px 10px 20px"
        [borderRadius]="'25px'"
      ></app-button>
    </div>
    <!-- Right side with background image -->
    <div class="right-side-img"></div>
  </div>
  <div
    class="main-container"
    style="
      margin-bottom: -85px;
      margin-top: 45px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    "
  >
    <!-- Right side with background image -->
    <div class="left-side-img"></div>
    <!-- Left side with h5, paragraph, and button -->
    <div class="left-side">
      <h5>
        Driving growth at your business with
        <span style="color: white; background-color: #fe5960; padding: 15px"
          >Logo</span
        >
      </h5>
      <p style="padding: 20px 0 20px 0">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
        deserunt assumenda nihil fuga quisquam, non ab totam.
      </p>
      <app-button
        type="primary"
        color="#fe5960"
        [buttonText]="'Try For Free'"
        size="small"
        padding="10px 20px 10px 20px"
        [borderRadius]="'25px'"
      ></app-button>
    </div>
  </div>
</div>

<!--section Six-->

<div class="background-container">
  <!-- Section with background image, images, h4, paragraph, and button -->
  <div class="section-container">
    <!-- Three images with relative positioning -->
    <img
      src="../../assets/7.png"
      alt="Image 1"
      style="left: -10px; bottom: -150px; width: 16%"
    />
    <img
      src="../../assets/8.png"
      alt="Image 2"
      style="bottom: -130px; right: -25px; width: 25%; margin: 0 auto"
    />
    <img
      src="../../assets/6.png"
      alt="Image 3"
      style="right: -55px; bottom: -174px; width: 20%"
    />

    <!-- Content: h4, paragraph, button -->
    <div class="content">
      <h4 style="font-weight: 600">Your Ad Account Managers</h4>
      <p>We're helping marketers of all sizes to be successful</p>
      <app-button
        type="primary"
        color="#fe5960"
        [buttonText]="'Get Started'"
        size="small"
        padding="10px 45px 10px 45px"
        [borderRadius]="'25px'"
      ></app-button>
    </div>
  </div>

  <!-- Full-width image -->
  <img
    src="../../assets/9.png"
    alt="Full Width Image"
    class="full-width-image"
  />
</div>

<div class="cta-container">
  <h5>We will send you full free trial details</h5>
  <div class="input-label">
    <div class="input-icon">
      <input type="text" id="name" placeholder="Enter your name" name="name" />
    </div>
  </div>
  <div class="input-label">
    <div class="input-icon">
      <input
        type="email"
        id="email"
        placeholder="Enter your email"
        name="email"
      />
    </div>
  </div>
  <button>Submit</button>
</div>
